body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: rgb(255, 249, 241);
    margin: 10px;
  }
  
  .seccion1,
  .seccion2,
  .seccion3 {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    align-items: stretch;
    background-color: #ed2ef4;
    color: rgba(0, 0, 0, 0.9);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .logo,
  .nav,
  .social {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(247, 194, 228);
    box-sizing: border-box;
  }

@keyframes bigger {
    0% {
      width: 100%;
      background-color: rgb(247, 194, 228);
    }
  
    50% {
      background-color: rgb(79, 31, 76);
      color: white;
      transform: scale(1.08);
    }
    75% {
      background-color: rgb(79, 31, 76);
      color: white;
      transform: scale(1);
    }
    100% {
      width: 100%;
      background-color: rgb(247, 194, 228);
    }
  }
  
  .logo:hover {
    animation-name: bigger;
    animation-duration: 2s;
  }

  .nav a{
    text-decoration: none;
    color: inherit;
  }

  .nav ul {
    list-style-type: none;
    padding: 0px;
  }
  
  .social a {
    text-decoration: none;
    color: black;
  }
  
  .banner {
    background-color: rgb(247, 206, 162);
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    border: 20px solid rgb(246, 97, 42);
    margin-top: 20px;
    box-sizing: border-box;
  }
  
  main {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
  }
  
  .articles {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    gap: 20px;
    padding: 20px;
    background-color: rgb(7, 150, 245);
    box-sizing: border-box;
  }
  
  .article {
    background-color: rgb(13, 227, 166);
    width: calc(50% - 10px);
    box-sizing: border-box;
  }
  
  .navegacion {
    background-color: #dff745;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .publicidad {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px;
    gap: 20px;
    background-color: rgb(126, 14, 143);
    box-sizing: border-box;
  }
  
  .ad {
    background-color: yellow;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .pie {
    background-color: rgb(94, 248, 94);
    padding: 1px;
    box-sizing: border-box;
  }

@media (max-width: 768px) {
    body {
      background-color: rgb(227, 227, 108);
    }
  
    .seccion1,
    .seccion2,
    .seccion3 {
      background-color: rgb(4, 4, 75);
    }
  
    header {
      display: flex;
      flex-direction: column;
    }

    .logo,
    .nav,
    .social {
      width: 100%;
    }
  
    .social {
      padding: 15px;
    }

    .main {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .articles {
      width: 100%;
    }

    .article {
      width: 100%;
    }

    .publicidad {
      width: 100%;
    }
  }
  
  @media (max-width: 1024px) and (min-width: 769px) {
    body {
      background-color: rgb(246, 188, 127);
    }
  
    .seccion1,
    .seccion2,
    .seccion3 {
      background-color: rgb(7, 117, 14);
    }

    header {
      display: flex;
      flex-direction: column;
    }

    .logo,
    .nav,
    .social {
      width: 100%;
    }
  
    .social {
      padding: 15px;
    }

    .main {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .articles {
      width: 100%;
    }

    .publicidad {
      width: 100%;
    }
  }
  
  @media (max-width: 1200px) and (min-width: 1025px) {
    .container {
      max-width: 100%;
      box-sizing: border-box;
    }
  }
  